.lista-tags {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.lista-tags li {
    background-color: var(--cor-secundaria);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}